<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/music-favicon.jpg">
    <title>SyncX | Home</title>
</head>
<body>
    <div class="bg flex">
        <header class="main">
            <h1 class="left"><span>Sync</span>X.</h1>
            <ul>
                <li><span>A</span></li>
            </ul>
        </header>
        <section id="hero">
            <section class="wrapper">
                <div class="left">
                    <h1>ENJOY <br> THE SONG <br> <span>TOFETHER.</span> </h1>
                </div>
                <div class="right">
                    <button>Create Room</button>
                    <p>Create room and enjoy the music with your friends.</p>
                    <button>Join Room</button>
                    <p>Join others room with redeem code and enjoy the music together.</p>
                </div>
            </section>
        </section>
        <footer>
            <div class="left">
                <p>Developed by <a href="https://www.instagram.com/nexift.team/" target="_blank" title="https://www.instagram.com/nexift.team/">Nexift.Team</a>.</p>
            </div>
            <div class="right">
                <p>&copy;Copyrights 2024.</p>
            </div>
        </footer>
    </div>
</body>
</html>